{% extends "base.html" %}

{% block body%}
<div>
    <h1 style="text-align: center; padding: 4px;">this  is a home page</h1>
    <p style="margin: 7px;padding:7px"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio asperiores praesentium voluptate ex eveniet unde cum suscipit, quo blanditiis dolorem cumque numquam dolor. Veritatis a, ratione molestiae recusandae illum asperiores eum quo, dolores animi inventore ea ab voluptatum fugit molestias! Odio id asperiores quo vero error velit fugiat laborum repudiandae.</p>
    
</div>
{% endblock%}

